# Forward 404 to our index.html since our app is SPA
ErrorDocument 404 /index.html

# Redirect all http traffic to https
RewriteEngine On
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
