.app-container {
    height: calc(100vh - 48px);
    overflow-y: scroll;
}

/* Styling scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #c9c9c9;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 25px;
    box-shadow: 1px 1px 1px #353535;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

