.slider {
    width: 100%;
}

/* Array loop increment / decrement controls styling */
.active-button {
    background-color: #9ec787;
}

.inc-dec-btn:disabled {
    border: 1px solid #d1d1d1;
}

.inc-dec-btn:not([disabled]) {
    border: 1px solid #000000;
}

.inc-dec-btn:hover:not([disabled]) {
    background-color: #82c55a;
}

/* Array loop additional controls styling */
.add-icon {
    color: #0a58eb;
}

.delete-icon {
    color: #ff0000;
}

.icon {
    border: 1px solid #3d3d3d;
}

/* Array local variables additional controls styling */
.var-value {
    width: 4rem;
}

.m-r-0_5rem {
    margin-right: 0.5rem;
}

.m-r-1rem {
    margin-right: 1rem;
}

.m-l-0_5rem {
    margin-left: 0.5rem;
}

.m-b-1rem {
    margin-bottom: 1rem;
}