<input type="range" class="slider" 
    [disabled]="true"
    [min]="minIdx" 
    [max]="getMaxSize()" 
    [(ngModel)]="stepIdx"
    required>
<div class="d-flex">
    <div class="me-auto">
        <!-- Show for loop -->
        <span>for ({{ name }} = {{ stepIdx }}; 
            {{ name }} {{ isLoopIncrementing ? "<=" : ">=" }} {{ validStepEndIdx }}; 
            {{ name }} {{ isLoopIncrementing ? "+=" : "-=" }} {{ stepBy }}) 
        {{ '{' }}{{ '}' }}
        </span>
        <!-- Controls for incrementing or decrementing loop -->
        <button (click)="increment()" [disabled]="isOutOfBounds(true)" 
                class="inc-dec-btn m-r-1rem m-l-0_5rem" [ngClass]="{'active-button' : isLoopIncrementing}">
            {{ name }} += {{ stepBy }}
        </button>
        <button (click)="decrement()" [disabled]="isOutOfBounds(false)" 
                class="inc-dec-btn m-r-1rem" [ngClass]="{'active-button' : !isLoopIncrementing}">
            {{ name }} -= {{ stepBy }}
        </button>
        <!-- Show status if loop is active or terminated -->
        <span class="badge bg-success" *ngIf="!isLoopIndexOutOfBounds()">Is Active</span>
        <span class="badge bg-secondary" *ngIf="isLoopIndexOutOfBounds()">Is Terminated</span>
    </div>
    <div>
        <fa-icon icon="trash" class="icon delete-icon" (click)="deleteSlider()"></fa-icon>
    </div>
</div>
