<section name="map">
    <!-- Map value display -->
    <div class="d-flex mt-1rem">
        <div *ngIf="map.size === 0" class="alert alert-info empty-map-alert" role="alert">
            Map is empty.
        </div>
        <div *ngFor="let key of map.keys()" class="map">
            {{ key }} : {{ map.get(key) }}
        </div>
    </div>
    <!-- Map controls -->
    <div class="d-flex">
        <div class="me-auto d-flex">
            <!-- Form for pushing value into map -->
            <form [formGroup]="pushForm" class="d-flex">
                <input type="text" class="push-input"
                        placeholder="Key"
                        formControlName="key"
                        aria-label="Key input for map">
                <input type="text" class="push-input"
                        placeholder="Value"
                        formControlName="value"
                        aria-label="Value input for map">
                <button class="btn btn-success mr-1rem push-btn" type="button" 
                        (click)="push()"
                        [disabled]="pushForm.invalid">Push</button>
            </form>
            <!-- Clear contents of map -->
            <button class="btn btn-danger mr-1rem" type="button"
                (click)="clearMap()">Clear Map</button>
            <!-- Form for getting value from map -->
            <form [formGroup]="getForm" class="d-flex mr-1rem">
                <input type="text" class="get-input"
                        placeholder="Key"
                        formControlName="key"
                        aria-label="Key for getting value">
                <button class="btn btn-success push-btn" type="button" 
                        (click)="getValue()"
                        [disabled]="getForm.invalid">Get</button>
                <input type="text" class="get-input text-align-center"
                        [placeholder]="getQueryValue"
                        disabled="true"
                        aria-label="Get Value">
            </form>
            <!-- Form for getting value from map with default value -->
            <form [formGroup]="getOrDefaultForm" class="d-flex mr-1rem">
                <input type="text" class="get-input"
                        placeholder="Key"
                        formControlName="key"
                        aria-label="Key for getting value">
                <input type="text" class="get-default-value-input"
                        placeholder="Default Value"
                        formControlName="defaultValue"
                        aria-label="Default value in case key is not found">
                <button class="btn btn-success push-btn" type="button" 
                        (click)="getOrDefaultValue()"
                        [disabled]="getOrDefaultForm.invalid">GetOrDefault</button>
                <input type="text" class="get-input text-align-center"
                        [placeholder]="getOrDefaultQueryValue"
                        disabled="true"
                        aria-label="Get Or Default Query Value">
            </form>
        </div>
        <div class="d-flex align-items-center">
            <button class="icon" (click)="deleteComponent()">
                <fa-icon icon="trash" class="delete-icon"></fa-icon>
            </button>
        </div>
    </div>
</section>
