/* Form styling */
.push-input,
.get-input {
    width: 5rem;
}

.get-default-value-input {
    width: 7rem;
}

.text-align-center {
    text-align: center;
}

/* Icons styling */
.delete-icon {
    color: #ff0000;
}

.icon {
    border: 1px solid #3d3d3d;
}

.push-btn {
    border-radius: 0;
}

/* Map styling */
.map {
    border: 1px solid #3d3d3d;
    padding: 0.5rem;
    min-width: 5rem;
    text-align: center;
}

.empty-map-alert {
    width: 100%;
    padding: 0.5rem;
}

/* Spacing */
.mt-1rem {
    margin-top: 1rem;
}

.mr-1rem {
    margin-right: 1rem;
}
